.navbar-container {
  width: 80vw;
  height: 100%;
  margin: auto;
}

.navbar-content-container {
  width: 40%;
  margin: auto;
  z-index: 100;
}
.navbar-content-container h3:hover {
  cursor: pointer;
  color: rgb(255, 255, 255);
}

.navbar-content-container > h3 {
  font-weight: 350;
  font-size: 20px;
}
