.home-intro-video {
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  z-index: -10;
}

.intro-video-container {
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  margin-top: -120px;
}

.intro-video-gradient {
  width: 100vw;
  position: relative;
  top: 0;
  z-index: 5;
  animation: fade-black;
  animation-duration: 0.8s;
}

@keyframes fade-black {
  from {
    background-color: rgb(0, 0, 0);
    height: 100vh;
  }
  to {
    background-color: rgb(0, 0, 0);
    height: 0px;
  }
}
