.description-container {
  background-image: url("/images/homePage/description_image.jpeg");
  width: 100vw;
}

.description-content {
  text-align: left;
  margin: auto;
  width: 650px;
  padding: 100px 0;
}

.description-heading {
  font-weight: 600;
  font-size: 50px;
  letter-spacing: 0.12em;
  text-align: left;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0px 15px;
}
